/* Navbaras/Headeris */

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


.header-container {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}


.header {
    width:75%;
    padding:1em;
    height:60px;
    display:flex;
    align-items: center;
    background-color: #222325;
    justify-content: space-between;
    flex-direction: row;
    border-radius:30px;
}

.header .logo {
    margin:1em;
    font-family: "Creepster", system-ui;
    font-size:60px;
    color:rgb(248, 12, 12);
    text-shadow:
    4px 4px 1px #300000,
    4px 6px 1px #400000,
    4px 8px 1px #500000,
    4px 10px 1px #600000,
    4px 12px 1px #700000,
    4px 14px 1px #800000,
    4px 16px 1px #900000;
}



.header-link {
    font-family: "Creepster", system-ui;
    font-size:30px;
    color:rgb(233, 213, 213);
    background-color: none;
}


.header-links {
margin-right:2em;
}

.header-links h3{
    color:white; 
    font-family: 'Horror Type', sans-serif;
    font-size:40px;

  }


.active {
    text-decoration: none;
}
.active h3{color:#2a4c9b;}
 
 a:not(.active) {text-decoration: none;}

.footer-container {
    width:100%;
    height:50px;
    background-color: #a0a1a5;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container h3 {
    margin-top:10px;
    /* font-family: "Metal Mania", system-ui; */
    font-weight: 400;
    color:#d6c0c0;

}

.line {
    width:1000px;
    border-bottom:2px solid rgb(243, 239, 239);
   
}


.drop {
    position: relative;
      width: 20px;
      height: 20px;
    top: -30px;
    margin: 0 auto;
      background: #F00;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .drop:before {
    content: "";
    position: absolute;
    width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 30px solid rgba(255,0,0,1);
    top: -22px;
  }
  
  .wave {
    position: relative;
    opacity: 0;
    top: 0;
      width: 2px;
      height: 1px;
    border: #F00 7px solid;
      -moz-border-radius: 300px / 150px;
      -webkit-border-radius: 300px / 150px;
      border-radius: 300px / 150px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
      width: 2px;
      height: 1px;
    border: #F00 5px solid;
      -moz-border-radius: 300px / 150px;
      -webkit-border-radius: 300px / 150px;
      border-radius: 300px / 150px;
    -moz-animation-name: ripple-2;
    -webkit-animation-name: ripple-2;
    animation-name: ripple-2;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  @keyframes ripple {
      from {
        opacity: 1;
      }
      to {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
      }
  }
  
  @keyframes ripple-2 {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    100% {
      width: 200px;
      height: 100px;
      border-width: 1px;
      top: 100px;
      left: 200px;
    }
  }
  
  @keyframes drip {
      to {
        top: 190px;
      }
  }