.search-input{
    text-align: center;
    font-family: "Creepster", system-ui;
    color:rgb(221, 55, 55);
}

.search-input h2{
    font-size: 32px;
}

.search-input input{
    font-family: "Creepster", system-ui;
    width:50%;
    height:30px;
    border-radius:5px;
    background-color: rgb(56, 47, 47);
    color: #bbb;
    font-size: 2em;
    margin:1em;
}

.search-input button {
    border-radius:5px;
    height:30px;
    width:80px;
}